/* 4.`Sticky
------------------------- */

.sticky-wrapper {
	position: relative;
	height: 100%;
	-webkit-perspective: 700;	
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.sticky {
	-webkit-transform: translateY(0);
	-mox-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    transition: transform $time ease-in-out;
}


.sticky.s-fixed {
	-webkit-transform: translateY(10px);
	-mox-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	position: fixed;
	bottom: auto;
	z-index: 1000;
}

.sticky.s-anchored {
	-webkit-transform: translateY(0);
	-mox-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	position: absolute;
	bottom: 15px; /* how far from the anchor we'll stick */
	z-index: 999;
}

.black {
  height: 200px;
  background-color: black;
}
.red {
  height: 300px;
  width: 150px;
  background-color: red;
}
.grey {
  height: 2000px;
  background-color: #ccc;
}

/* grid container
============================================== */
.wrapper {
	width: 960px;
	margin: 0 auto 10px auto;
	position: relative; 
}

.wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; 
}

/* grid divisions
============================================== */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin: 0 5px;
  padding: 0;
  display: inline;
  float: left; }

.grid-1 {
  width: 70px; }

.grid-2 {
  width: 150px; }

.grid-3 {
  width: 230px; }

.grid-4 {
  width: 310px; }

.grid-5 {
  width: 390px; }

.grid-6 {
  width: 470px; }

.grid-7 {
  width: 550px; }

.grid-8 {
  width: 630px; }

.grid-9 {
  width: 710px; }

.grid-10 {
  width: 790px; }

.grid-11 {
  width: 870px; }

.grid-12 {
  width: 950px; }

